@import "variables";

div.content {
    margin: 20px auto 0;
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1250px;

    >a {
        margin: 20px 0;
    }
}

.selection {
    margin: 20px 0;

    display: flex;
    flex-direction: row;

    select {
        margin: 0 10px 0 0;
        width: fit-content;
    } 
}

.button {
    width: 111px;
}

.btn_content {
    display: flex;
    align-items: center;
}

.expedient a {
    margin: 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid $primary;
    border-radius: 8px;

    height: 20%;
    background-color: white;
}

.expedient a:hover {
    background-color: rgba($primary, 0.1);
}

.top-expedient {
    margin: 20px;

    width: 45%;
    height: 15%;
}

.bottom-expedient {
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: end;

    width: 45%;
    height: 15%;
}

.estat {
    display: flex;
}

.dot {
    height: 20px;
    width: 20px;
    margin: 0 0 0 4px;

    border-radius: 50%;

    display: inline-block;
}