@import "variables";
 /* Estilos para el formulario de inicio de sesión */
 .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url('/resources/img/background.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.login-form {
    background-color: white;
    border-radius: 8px;
    border: solid $primary;
    padding: 30px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-10vw);
    box-shadow: 0 0 10px rgba($color: $primary, $alpha: 0.25);

}

.login-form h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: $primary;
}

.login-form p {
    text-align: center;
    color: $secondary;
    font-size: 14px;
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 30px;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    color: $primary;
}

.form-control {
    border: none;
    border-bottom: 1px solid $primary;
    padding: 10px 15px;
    font-size: 16px;
    background: none;
    width: 100%;
    transition: border-color 0.4s ease-out;
    border-radius: 5px;
}

.form-control:focus {
    border-color: $warning;
}

.login-form button[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
    width: 100%
}

.login-form button[type="submit"]:hover {
    cursor: pointer;
}

/* Estilos para los iconos de los inputs */
.input-group-addon {
    border: none;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.input-group-addon i {
    color: $warning;
}