@import "variables";
@import "animations";

$side_nav_width: 250px;

#container {
    display: flex;
    justify-content: start;
    align-items: start;
}

#nav_container {
    width: $side_nav_width;

    padding-bottom: 150px;

    border-right: 2px solid;
    border-left: 0px solid;
    border-style: solid;
    border-image: linear-gradient(
            0deg,
            rgba(2, 0, 36, 0) 0%,
            rgba(8, 124, 166, 1) 30%,
            rgba(8, 124, 166, 1) 100%
        )
        1 100%;
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 12px 0;

    border-bottom: 2px solid $primary;

    img {
        margin-right: 10px;
    }

    p {
        margin: 0;
        color: $primary;
        font-size: 1.4rem;
    }
}

#items_contaienr {
    margin-left: 15px;

    a {
        padding: 8px 0;
        padding-left: 15px;
        border-radius: 10px;
        margin-right: 10px;

        opacity: 0;

        color: $primary;

        &:hover {
            background-color: rgba($color: $primary, $alpha: 0.25);
            color: $primary;
            margin-right: 10px;
            font-weight: bold;
        }
    }
}

[selected] {
    background-color: $danger !important;
    color: #fff !important;
    margin-left: -40px;
    font-weight: bold;
    i {
        margin-left: 60px;
    }
}

#back_arrow {
    img {
        transition: transform 0.08s ease-in-out;
    }

    &:hover img {
        transform: scale(1.3);
    }
}

h2 {
    position: fixed;

    color: $primary;

    left: 290px;
    top: 90px;
}

#content {
    margin: 20px auto 0;
    padding: 0 40px;

    width: calc(100% - $side_nav_width);
    max-width: 1250px;
}

.crud-content {
    display: flex;
    flex-direction: column;
}

.table th {
    background-color: $primary;
}

.table {
    background-color: white;
    // outline: 2px solid $primary;
    box-shadow: inset 0px 0px 0px 2px $primary;
}

tbody tr:first-child {
    border-top: 2px solid $primary;
}

tbody tr {
    border-bottom: 2px solid $primary;
}

thead th {
    font-weight: 600;
}

.bdr {
    border-radius: 8px;
    overflow: hidden;
}

.search {
    width: 100%;
    display: flex;
    justify-content: end;
}

.input-group {
    width: 200px;
}

.input-group input {
    background-color: white;
}

.input-group-text {
    background-color: white;
}

.add-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
