$light-blue: #f4f9f9;
$dark: #16181c;

$primary: #087ca6;
$secondary: #767676;
$warning: #ffb300;
$danger: #de1278;

// Create your own map
$custom-colors: (
    "light-blue": $light-blue,
);

body {
    font-family: "Figtree", sans-serif !important;
}

$body-bg: $light-blue;

// #Region CARTA

$components-gap: 10px;
$components-border-width: 3px;
$components-border-radius: 10px;

// #Endregion

// buttons
$btn-border-radius: 6px;

$btn-border-width: $components-border-width;
$btn-font-weight: 600;

$btn-padding-x: 1.5rem;

//sombra navbar
$box-shadow-sm: 0 0 0.5rem rgba($primary, 0.25);

//bootstrap accepta margins negatius
$enable-negative-margins: true;

// table CRUD colors
$table-striped-bg: rgba($primary, 0.15);

$pagination-active-bg: $danger;

//form-select
$form-select-bg: white;
$form-select-color: rgba($primary, 0.8);

$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$warning}' stroke-linecap='square' stroke-linejoin='square' stroke-width='4' d='m2 5 6 6 6-6'/></svg>");

$form-select-border-width: 2px;
$form-select-border-color: $primary;

//disabled
$input-disabled-color: $secondary;

//popovers
$popover-header-bg: $warning;
