@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

$light-blue: #f4f9f9;
$dark: #16181c;

$primary: #087ca7;
$secondary: #767676;
$warning: #ffb300;
$danger: #e0127a;

// Create your own map
$custom-colors: (
    "light-blue": $light-blue,
);

$body-bg: $light-blue;

// buttons
$btn-border-radius: 6px;

$btn-border-width: 3px;
$btn-font-size: 1.4rem;
$btn-font-weight: 600;

$btn-padding-x: 1.5rem;

$box-shadow-sm: 0 0 0.5rem rgba($primary, 0.25);

body {
    font-family: "Figtree", sans-serif !important;
}
