$light-blue: #f4f9f9;
$dark: #16181c;

$primary: #087ca7;
$secondary: #767676;
$warning: #ffb300;
$danger: #e0127a;

// Create your own map
$custom-colors: (
    "light-blue": $light-blue,
);

$body-bg: $light-blue;

// buttons
$btn-border-radius: 6px;

$btn-border-width: 3px;
$btn-font-size: 1.4rem;
$btn-font-weight: 600;

$btn-padding-x: 1.5rem;

$box-shadow-sm: 0 0 0.5rem rgba($primary, 0.25);

body {
    font-family: "Figtree", sans-serif !important;
}

$enable-negative-margins: true;